body, html {
	width: 100%;
	xheight: 100%;
	margin: 0;
	padding: 0;
	background-color: #eee;
	position: absolute;
}

#main {
	width: 90%;
	padding: 2% 5%;
	height: 90%;
}



.container {
	border-radius: 3px;
	position: relative;
	width: 23%;
	height: 37em;
	background-color: #fcfcfc;
	float: left;
	margin: 1em;
	box-shadow: 0.3em 0.3em 0.7em #bbb;
	overflow: hidden;
	-webkit-transition: height 0.6s ease;
}



.mostVisitedLinks .tttitleLink {
	text-decoration: none;
}

.mostVisitedLinks .tttitle {
	color: #333
}

.mostVisitedLinks .tttitle {

}

.mostVisitedLinks .smallContainer a {
	color: #2080DA;
	text-decoration: none;
}

.mostVisitedLinks .smallContainer .linkHolderLink {
	text-align: center;
	font-family: sans-serif;
	line-height: 1.5em;
	font-size: 1.2em;
}

{

}

.bookmarkCat {
	font-size: 1.1em;
	margin-bottom: 0.5em;	
	color: #666;
}

.bookmarkBox .tttitleLink,
.historyBox .tttitleLink {
	color: #333;
	text-decoration: none;
}

.linkBox {
	padding-left: 2em;
}


.bookmarkLink {
	font-size: 1.1em;
	line-height: 1.8em;
	display: block;
	color: #578EC2;
	text-decoration: none;
}

.bookmarkLink:hover {
	text-decoration: underline;
}

.bookmarkLink img {
	height: 16px;
	width: 16px;
	margin-bottom: -3px;
	padding-right: 1em;
}

.mostVisitedLinks .smallFoot span {
	display: none;
}

.tallContainer {
	height: 75.7em;
	-webkit-transition: height 0.6s ease;
}

.smallContainer {
	margin: 0.5em;
	width: 95%;
	padding: 0 .3em;
	overflow: hidden;
}

.smallContainer a:hover {
	text-decoration: underline;
}

.tttitle {
	height: 1.4em;
	font-size: 1.2em;
	line-height: 1.3em;
	padding-top: .5em;
	overflow: hidden;
	background-color: #f1f1f1;
	text-align: center;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: center;
	border-top-right-radius: 3px;
	border-top-left-radius: 3px;
}

.tttitle a {
	text-decoration: none;
	color: #222;
}

.tttitle:hover {
	text-decoration: underline;
	cursor: pointer;
}

.smallFoot {
	position: absolute;
	bottom: 0;
	font-size: 2em;
	line-height: 48%;
	width: 100%;
	height: 0.8em;
	text-align: center;
	background-color: #f1f1f1;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.smallFoot:hover {
	cursor: pointer;
}

.smallFoot span {
	font-size: 1.3em;
	xline-height: .2em;
	color: #333;
}

.rotated {
	-webkit-transform: rotate(180deg);
}

.rawURL {
	overflow: hidden;
	margin-right: 2em;
}

.unlinkify {
	display: block;
	text-decoration: none;
	margin-bottom: 0.5em;
}

.unlikify:hover {
	text-decoration: underline;
}

.unHeaderate {
	margin: 0;
	font-size: 1em;
}

#footPad {
	height: 5em;
	clear:both;
	width: 100%;
}

#ntFoot {
		color: #333;
		margin-top: 2%;
		clear: both;
		width: 95%;
		padding-right: 5%;
		border-top: 2px solid #efefef;
		border-bottom: 2px solid #aaa;
		background-color: #ccc;
		height: 3em;
		position: absolute;
		bottom: 0px
}

.bottomButton {
	line-height: 300%;
	float: right;
	padding: 0em 1em;
}

.bottomButton:hover {
	color: #666;
	cursor: pointer;
}

.optionBox {
	display: none;
	position: absolute;
	bottom: 3em;
	border: 3px solid #ccc;
	background-color: #ccc;

	right: 5em;
width: 21em;
}

.option {
float: left;
border: 0.25em solid #cacaca;
height: 5em;
width: 10em;
}

.option:hover {
	opacity: 0.5;
}

#null {
	background-image: none
}

#grid {
	background-image: url('../images/grid.png')
}

#arches {
	background-image: url('../images/arches.png')
}

#squarey {
	background-image: url('../images/squarey.png')
}

#squares {
	background-image: url('../images/squares.png')
}

#wood {
	background-image: url('../images/retina_wood.png')
}

#tri {
	background-image: url('../images/tri.png')
}

#swirl {
	background-image:url('../images/swirl_pattern.png');
}

#math {
	background-image:url('../images/math.png');
}

#subtle_white_feathers {
	background-image:url('../images/subtle_white_feathers.png');
}

@media screen and (min-width: 1000px) {
  .container {
  	width: 23%;
  	margin: 1%;
  }
}

@media screen and (min-width: 700px) and (max-width: 999px) {
  .container {
	width: 30%;
	margin: 1% 1.5%;
  }
}

@media screen and (min-width: 500px) and (max-width: 699px) {
  .container {
	width: 46%;
	margin: 2%;

  }
}

@media screen and (max-width: 499px) {
  .container {
width: 80%;
margin: 3% 10%;
  }
}


