.mostVis .tttitle:after {
	content: 'Most Visited Sites'
}


.mostVis a {
	color: #333;
	text-decoration: none;
}

.mostVis a:hover {
	cursor: default;
}

.historyBox .tttitle:after {
	content: 'History'
}

.bookmarkBox .tttitle:after {
	content: 'Bookmarks'
}


.pHunt .tttitle {
	background-image: url('../images/pHunt.png');
	background-color: white;
	background-size: 7em;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;	
}

.pHunt .user-image-holder,
.pHunt .collections-popover-trigger,
.pHunt .maker {
	display: none;
}

.pHunt .post--content {
	margin-bottom: 1em;
display: inline-block;
width: 97%;

}

.pHunt .upvote {
	float: left;
	height: 42px;
	width: 2.1em;
	line-height: 17px;
	text-align: center;
	position: relative;
	margin-right: 0.5em;
	box-shadow: rgba(83, 69, 64, 0.298039) 0px 1px 0px 0px;
	background-color: rgb(237, 236, 235);
	border-radius: 3px;
}

.pHunt .upvote .upvote-link {
position: relative;
bottom: 5px;
display: inline-block;
bottom: -2px;
width: 100%;
font-size: 1.5em;
}

.pHunt .upvote .upvote-link:before {
	xfont-family: FontAwesome;
	xposition: absolute;
	xcontent: "\f0de";
	xtop: -0.5em;
	xleft: 0.5em;
}

.pHunt .upvote .vote-count {
font-size: 12px;
display: block;
position: relative;
bottom: 4px;
font-family: Helvetica;
font-weight: 600;
 color: #534540;
}

.pHunt .url {
margin-right: 3em;
margin-left: 3em;
}

.pHunt .title {
	display: block;
		color: rgb(83, 69, 64);
	text-decoration: none;
	font-family: Helvetica proxima-nova, 'Proxima Nova', sans-serif;
	font-weight: 600;
}

.pHunt .title a {
	color: rgb(83, 69, 64);
	text-decoration: none;
}

.pHunt .post-tagline {
	font-family: Helvetica, sans-serif;
	color: rgb(153, 153, 153);;	
}

.pHunt .post--actions {
	float: right;
	color: #999;
}

.pHunt .post--actions a {
	color: #999;
	text-decoration: none;
}

.pHunt .post--actions--comments {
	position: relative;
}

.pHunt .comment-image {
	height: 100%;
top: 0;
right: 1.5em;
position: absolute;
}

.nj .tttitle {
	background-image: url('../images/nj.png');
	background-color: #E7DCCE;
}

.nj .smallFoot {
	background-color: #E7DCCE;	
}

.nj .smallContainer a {
	color: rgb(54, 54, 54);
	font-weight: bold;
	font-family: arial;
}

.accountingweb .tttitle {
	background-image: url('../images/accountingweb.png');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;	
	background-size: 10em;
}

.accountingweb .smallContainer .views-field-field-article-image, 
.accountingweb .smallContainer .views-field-name,
.accountingweb .smallContainer .views-field-view-node{
	display: none;
}

.accountingweb .smallContainer .views-field-title a {
	color: rgb(6, 99, 153);
	text-decoration: none;
	font-family: arial, helvetica, sans-serif;
	font-weight: bold
}

.accountingweb .views-row {
	margin-bottom: 0.5em;
}

.accountingweb .views-field-field-article-description {
	font-family: arial, helvetica, sans-serif;
	color: rgb(68, 68, 68);
}


.accountingtoday .tttitle {
	background-image: url('../images/accountingtoday.jpeg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;	
	background-position-y: 0.3em;
background-size: 10em;
}

.accountingtoday .smallContainer img,
.accountingtoday .smallContainer .share-icons,
.accountingtoday .smallContainer .homepage-related,
.accountingtoday .smallContainer ul,
.accountingtoday .smallContainer .read-more,
.accountingtoday .smallContainer .clear,
.accountingtoday .smallContainer .spec-left {
	display: none;
}

.accountingtoday .smallContainer .tabcontent,
.accountingtoday .hentry {
	margin-bottom: 0.5em;
}

.accountingtoday .smallContainer p {
	margin: 0;
}

.accountingtoday .story-title,
.accountingtoday .entry-title {
	color: rgb(51, 51, 51);
	font-family: Arial, Helvetica, Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.05em;
}

.accountingtoday .smallContainer a {
	text-decoration: none;
	color: rgb(51,51,51);
}

.accountingtoday .smallContainer a:hover {
	text-decoration: underline;
}

.accountingtoday .entry-summary {
	font-size: 1em;	
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

.mentalfloss .tttitle {
	background-image: url('../images/mentalfloss.png');
	background-size: 8em;
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;
}

.mentalfloss .smallContainer a {
	color: rgb(51, 51, 51);
	font-family: helvetica, sans-serif;
	font-size: 1.05em;
}

.techmeme .tttitle {
	background-image: url('../images/techmeme.png');
	background-size: 6em;
	background-color: transparent;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;
	background-position-x: 1em; 
}

.techmeme .smallContainer .item {
	margin-bottom: 0.5em;
}

.techmeme table,
.techmeme tr,
.techmeme td {
	margin: 0;
	padding: 0;
}

.techmeme .smallContainer .item div,
.techmeme .smallContainer .item img {
	display: none;
}

.techmeme .smallContainer a {
	color: rgb(0, 72, 96);
	font-weight: bold;
	text-decoration: none;
}

.techmeme .smallContainer a:hover {
	text-decoration: underline;
}

.techmeme .smallContainer table,
.techmeme .smallContainer table a {
	font-family: sans-serif;
	color: rgb(104, 104, 96);
	font-size: 0.95em;
	text-decoration: none;
}




.dallasnews .tttitle {
	background-image: url('../images/dallasnews.png');
	background-color: white;
	background-size: 13em;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;
}

.dallasnews {
	background-color: white;
}

.dallasnews .smallContainer img {
	display: none;
}

.dallasnews .smallContainer a {
	color: rgb(33, 33, 33);
	font-family: 'proxima-nova', helvetica, sans-serif;
	font-weight: bold;
}

.dallasnews .smallContainer a:hover {
	color: #2a6496;
}

.mercurynews .tttitle {
	background-color: #EDF1F7;
	background-image: url('../images/mercurynews.png');
	background-size: 12em;
	background-position-y: 0.5em;
	box-shadow: rgba(80, 100, 110, 0.24902) 0px 1px 3px 0px;
}

.mercurynews .smallContainer a {
	color: rgb(52, 56, 62);
	font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
	font-size:1.05em;
	
}

.mercurynews .smallContainer img,
.mercurynews .smallContainer span,
.mercurynews .smallContainer h2,
.mercurynews .smallContainer br {
	display: none;
}

.seattletimes .tttitle {
	background-image: url('../images/seattletimes.png');
	background-color: white;
	background-size: 9em;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;
}

.seattletimes {
	background-color: white;
}

.seattletimes .smallContainer a {
	color: rgb(9, 51, 75);
	font-family: Georgia, Times, serif;
	font-size: 1.05em;
}

.denverpost .tttitle {
	background-image: url('../images/denverpost.jpeg');
	background-color: white;
	xbox-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 2px 0px;
}

.denverpost .smallContainer a {
	font-family: Georgia, "Times New Roman", Times, serif ;
	color: #333;
	font-weight: bold;
}

.elitedaily .tttitle {
	background-image: url('../images/elitedaily.png');
	background-color: white;
	background-size: 8em;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;
}

.elitedaily {
	background-color: white;
}

.elitedaily .smallContainer a {
	color: rgb(63, 63, 63);
	font-family: Arial, 'Lucida Grande', sans-serif;
	font-size: 1.1em;
	xfont-weight: bold;
}

.elitedaily .linkIcon {
	display: none;
}

.marketwatch .tttitle {
	background-color: #02282B;
	background-image: url('../images/marketwatch.jpeg');
	background-size: 6em;
}

.marketwatch .smallFoot {
	background-color: #02282B;
}

.marketwatch .linkIcon {
	color: white;
}

.marketwatch .smallContainer a {
	color: rgb(0, 65, 118);
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.telegraph .tttitle {
	background-image: url('../images/telegraph.gif');
	background-color: white;
		box-shadow: rgba(100, 100, 100, 0.25902) 0px 1px 2px 0px;
	background-size: 9em;
	background-position-y: 0.4em;
}

.telegraph {
	background-color: white;
}

.telegraph .smallContainer a {
	color: rgb(35, 75, 123);
	font-family: georgia, 'times new roman', times, serif;
	font-size: 1.1em;

}

.cracked .tttitle {
	background-color: #2E3940;
	background-image: url('../images/cracked.png');
	background-size: 6.5em;
}

.cracked .smallFoot {
	background-color: #2E3940;

}

.cracked .linkIcon {
	color: white;
}

.cracked .smallContainer a {
	color: black;
	font-family: Georgia, serif;
	font-weight: bold;
	font-size: 0.95em;
}

.sbnation .tttitle {
	background-image: url('../images/sbnation.jpeg') ;
	background-color: white;
	background-size: 12em;
	box-shadow: rgba(100, 100, 100, 0.25) 0px 1px 2px 0px;
}

.sbnation {
	background-color: white;
}

.sbnation .smallContainer a {
	font-family: Georgia, serif;
	color: rgb(41, 41, 41);
	font-weight: bold;
	font-size: 0.95em;
}

.emgn .tttitle {
	background-image: url('../images/emgn.png');
	background-color: #EEE;
	background-position-y: -3px;
	box-shadow: rgba(100, 100, 100, 0.25) 0px 1px 2px 0px;
}

.emgn .smallContainer a {

	color: #333;
	font-family: arial;
	font-weight: bold;
	font-size: 1em;
	margin-top: 0.5em;
}

.emgn .linkIcon {
	display: none
}

.dailymail .tttitle {
	background-image: url('../images/dailymail.jpeg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
	background-size: 8em;
background-position-y: 5px;
}

.dailymail .smallContainer a {
	color: #004DB3;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.dailymail .smallContainer a:hover {
	color: red;
	text-decoration: none;
}

.groupon .tttitle {
	background-image: url('../images/groupon.jpeg');
	background-size: 7em;
	background-color: black;
}

.groupon .smallFoot {
	background-color: black;
}

.groupon .linkIcon {
	color: white;
}

.groupon p {
	margin: 0;
color: rgb(136, 136, 136);
display: inline-block;
}

.groupon .deal-title {
	color: rgb(51, 51, 51);
	display: block;
	font-size: 1.1em;
}

.groupon figure {
	border-radius: 5px;
	margin: 0;
	background-color: rgb(242, 242, 242);
	font-family: OpenSans, Tahoma, 'Helvetica Neue', Helvetica, Arial, FreeSans, sans-serif;
	margin: 0 0.25em 0.25em 0em;
	padding: 0.25em 1.5em;
}

.groupon .deal-price {
	color: rgb(130, 181, 72);
	text-align: right;
	display: block;
}

.groupon .deal-price s {
	color: rgb(136, 136, 136);
}

.groupon .smallContainer img,
.groupon .view-deal,
.groupon .meta-divider {
	display: none;
}

.breitbart .tttitle  {
	background-image: url('../images/breitbart.jpg');
	background-color: black;
	background-size: 3em;
}

.breitbart .smallFoot {
	background-color: black;
}

.breitbart .linkIcon {
	color: white;
}

.breitbart .smallContainer a {
	color: rgb(255, 85, 0);
	font-family: Georgia, serif;
	font-style: italic;
	font-size: 1.1em;
}

.breitbart .smallContainer img {
	display: none;
}

.nbcnews .tttitle {
	background-color: #113850;
	background-image: url('../images/nbcnews.png');
	background-size: 8em;
}

.nbcnews .smallFoot {
	background-color: #113850;

}

.nbcnews .linkIcon {
	color: white;
}

.nbcnews .smallContainer a {
	color: rgb(0, 0, 0);
	font-family: Helvetica, Arial, sans-serif;
}

.nbcnews .label {
	display: none;
}

.abcnews .tttitle {
	background-image: url('../images/abcnews.png');
	background-color: white;
	background-size: 4.5em;
	xbackground-position-x: 0.5em;
	box-shadow: rgba(50, 50, 50, 0.34902) 0px 1px 5px 0px;
}

.abcnews .smallContainer a {
	font-weight: bold;
	font-family: arial;
	color: rgb(51, 51, 51);
}

.reuters .tttitle {
	background-position-x: 0.5em;
	background-size: 7em;
	background-color: #333333;
	background-image: url('../images/reuters.gif');
}

.reuters .smallFoot {
	background-color: #333;
}

.reuters .linkIcon {
	color: white;
}

.reuters .smallContainer a {
	color: rgb(0, 110, 151);
	font-family: arial;
	font-size: 1.1em;
}

.reuters .smallContainer img {
	display: none;
}

.politico .tttitle {
	background-color: #980000;
	background-image: url('../images/politico.png');
	background-size: 6em;
}

.politico .smallFoot {
	background-color: #980000
}

.politico .linkIcon {
	color: white;
}

.politico .smallContainer a {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: black;
	font-size: 1.05em;
}

.politico .smallContainer a:hover {
	color: rgb(16, 160, 251);
	text-decoration: none;
}

.politico p,
.politico br,
.politico .content-header,
.politico .widget-header {
	display: none;
}

.vox .tttitle {
	background-image: url('../images/vox.jpeg');
	background-color: #FEF102;
}


.vox .smallContainer a {
	color: rgb(60, 57, 57);
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 0.95em;
}

.adweek {
	background-color: white;
}

.adweek .tttitle {
	background-color: white;
	background-image: url('../images/adweek.jpeg');
	background-size: 4.5em;
	box-shadow: rgba(200, 190, 190, 0.5) 0px 1px 2px 0px;
}

.adweek .story-header {
	margin-bottom: 1em;
}

.adweek .smallContainer a {
	text-decoration: none;
	color: #ed1d25;
}

.adweek .headline {
	font-family: Helvetica, Arial;
	
	font-weight: bold;
}

.adweek .subheadline {
	color: #808080;
	font-family: Georgia, serif;
	font-size: 1.1em; 
}

.adweek .smallContainer img {
	display: none;
}

.adweek .socialtools {
	display: none;
}

.philly .tttitle {
	background-image: url('../images/philly.png');
	background-size: 6.5em;
	box-shadow: rgba(200, 190, 190, 0.5) 0px 1px 2px 0px;
}

.philly .smallContainer a {
	font-family: Georgia, serif;
	color: black;
	font-weight: normal;
	font-size: 1.05em;
}

.ctribune .tttitle {
	background-color: #003466;
	background-image: url('../images/ctribune.jpeg');
}

.ctribune .smallFoot {
	background-color: #003466;
}

.ctribune .linkIcon {
	color: white;
}

.ctribune .smallContainer a {
	font-family: Georgia, serif;
	color: black;
	font-weight: bold;
}

.rtomatoes .right_col {
	width: 4em;
}

.rtomatoes .tttitle {
	background-image: url('../images/rtomatoes.png');
	xbackground-position: left;
	background-color: #3A9425;
}

.rtomatoes .smallFoot {
	zdisplay: none;}

.rtomatoes .clickForMore {
	text-align: right;
	padding-right: 1em;
}



.rtomatoes table {
	width: 100%;

}

.rtomatoes .smallContainer a {
	margin: 0;
	color: rgb(52, 52, 52);
}

.rtomatoes .smallContainer td {
	color: rgb(52, 52, 52);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em
}

.rtomatoes .noRating {
	display: none;
}

.rtomatoes h2 {
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(52, 52, 52);
	font-size: 1.2em

}

.forbes .tttitle {
	background-image: url('../images/forbes.jpg');
	background-size: 8em;
	background-color: #444444;
}

.forbes .smallFoot {
	background-color: #444;
}

.forbes .linkIcon {
	color: white;
}

.forbes .smallContainer a {
	color: rgb(15, 45, 95);
	font-family: georgia;
	font-size: 1.1em;
}

.wired .tttitle {
	background-image: url('../images/wired.jpeg');
	background-color: black;
	border: 1px solid black;	
}

.wired .smallContainer {
	margin-top: 0.8em;
}

.wired .smallFoot {
	background-color:black;
}

.wired .linkIcon {
	color: white;
}

.wired .headline {
	margin-bottom: 0.5em;
}

.wired h2 a {
	color: rgb(51, 51, 51);
	font-size: 
}

.wired h5 {
	letter-spacing: -0.3px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	font-family: Helvetica, arial, sans-serif;
}

.dailybeast .tttitle {
	background-color: #EE2E24;
	background-image: url('../images/dailybeast.png');
}

.dailybeast .smallFoot {
	background-color: #EE2E24
}

.dailybeast .linkIcon {
	color: white;
}

.dailybeast {
	background-color: #F5F4EF
}

.dailybeast .smallContainer {
	margin-left: 0;
	padding-left: 4%;
	width: 92%;	

}

.dailybeast .cheat a {
	margin: 0;
}



.dailybeast .title {
	margin: 0;
	text-align: center;
	font-family: Georgia,Times,serif;
font-weight: 300;
color: black;
font-size: 1.1em; 

}

.dailybeast .dek {
	font-family: Arial, sans-serif;
	margin: 0;
	text-align: center;
	color: rgb(102, 102, 102);
	margin-bottom: 0.5em;
	font-size: 1.05em;
}

.dailybeast .rubric {
	font-size: 1em;
	color: #ee2e24;
	margin: 0;
	text-align: center;
}

.dailybeast .smallcontainer {
	text-align: center ;
}

.dailybeast .smallContainer img,
.dailybeast .social {
	display: none
}

.dailybeast li {
	list-style: none;
}

.newsweek  {
	background-color: white;
}

.newsweek .tttitle {
	background-image: url('../images/newsweek-red.gif');
	background-color: #CC0000;
	background-position-y: 2px;
}

.newsweek .smallFoot {
	background-color:  #CC0000;
}

.newsweek .linkIcon {
	color: white;
}

.newsweek .hf-title a {
	font-family: helvetica;
	font-weight: bold;
	font-size: 1.05em;
	color: black;
	margin-bottom: 0;
}

.newsweek .hf-summary {
	font-family: helvetica;
	font-size: 0.95em;
	color: rgb(90, 90, 90);
	margin-bottom: 0.5em;
}

.newsweek .related-links,
.newsweek .hf-category {
	display: none;
}

.newyorker .tttitle {
	background-image: url('../images/newyorker.jpeg');
	background-color: white;
	border-bottom: 1px solid #ccc;
}

.newyorker {
	background-color: white;
}

.newyorker p {
	margin: 0 0 1em 0
}

.newyorker .smallContainer {
	text-align: center;

	font-family: 'times new roman', Georgia, serif;

}

.newyorker .smallContainer a {
	font-family: 'times new roman', Georgia, serif;
	color: black;
	font-weight: 500;
	font-size: 1.2em;
	margin:0;
}

.newyorker h4,
.newyorker h3,
.newyorker #cartoons,
.newyorker .featured-video {
	display: none;
}

.ft .tttitle {
	background-image: url('../images/ft.jpg');
	background-size: 10em;
	box-shadow: rgba(200, 190, 190, 0.5) 0px 1px 2px 0px;
}

.ft  {
	background-color: #FFF1E0

}

.ft a {
	color: black;
	margin-bottom: 0.3em;
}

.ft .smallContainer div div > *,
.ft .smallContainer .ft-list {
	display: none;
}

.ft .smallContainer h3 {
	display: block;
	font-family: Georgia, 'Times New Roman';
	font-size: 1em;
	color: black;
	font-weight: normal; 
}

.ft .smallContainer h4 {
	display: block;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 0.95em;
	font-weight: normal; 
	color: rgb(80, 80, 80);
	margin-bottom: 1em;
}

.nypost .tttitle {
	background-image: url('../images/nypost.jpeg');
	background-color: white;
}

.nypost .smallContainer a {
	font-family: Helvetica, sans-serif;
	font-style: 1.1em;
	color: rgb(40,40,40);
	font-weight: 600;
}

.sfgate .tttitle  {
	background-image: url('../images/sfgate.jpeg');
	background-color: white;
	background-size: 5em;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.sfgate .smallContainer a {
	color: rgb(34, 34, 34);
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.sfgate .smallContainer span {
	display: none;
}

.latimes .tttitle {
	background-image: url('../images/latimes.png');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.latimes .smallContainer a {
	font-family: Georgia, serif;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

.techreview .tttitle  {
	background-image: url('../images/techreview.png');
	background-color: black;
}

.techreview .smallFoot {
	background-color: black;
}

.techreview .linkIcon {
	color: white;
}

.techreview .smallContainer a {
	border-bottom: 1px solid rgb(209, 215, 215);
	font-size: 1em;
	color: rgb(39, 39, 40);
	padding-bottom: 0.3em;
	margin-bottom: 0.3em;
}


.techreview .smallContainer img,
.techreview h3,
.techreview p,
.techreview .cta {
	display: none;
}

.rstone .tttitle {
	background-image: url('../images/rstone.svg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
	background-size: 8em;
	background-position-y: 3px;
}

.rstone .smallContainer a {
	font-family: Georgia, serif;
	font-weight: bold;
	color: black;
	
}


.rstone .smallContainer img,
.rstone .picks-tagline,
.rstone .label-text {
	display: none;
}

.nymag .tttitle {
	background-image: url('../images/nymag.png');
	background-color: white;
}

.nymag .smallContainer a {
	background-image: none !important;
}

.nymag .hed {
	font-size: 1.1em;
	margin: 0;
	color: rgb(17, 17, 17)
}

.nymag .dek,
.nymag p {
	font-weight: 100;
	font-family: arial, sans-serif;
	margin: 0;
	color: rgb(85, 85, 85);

}

.nymag .stripe,
.nymag .author,
.nymag .listItem,
.nymag cite,
.nymag time,
.nymag .smallContainer img {
	display: none;
}

.economist .tttitle {
	background-image: url('../images/economist.png');
	background-position-x: 0;
	background-size: 5em;
}

.economist p {
	font-size: 0.9em;
	margin: 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgb(91, 91, 91);
}

.economist h1,
.economist h2,
.economist h3,
.economist h4 {
	margin: 0;
	color: rgb(74, 74, 74);
	font-family: Georgia, serif;
	font-weight: 500;
	font-size: 1.2em;
}

.economist .smallContainer span {
	display: none;
}

.variety .tttitle {
	background-color: white;
	background-image: url('../images/variety.jpg');
	background-size: 5em;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.variety .smallContainer a {
	font-family: 'Droid Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
	font-weight: bold;
	font-style: italic;
	color: black;
	font-size: 1em;
}

.variety .smallContainer img,
.variety .category,
.variety .url {
	display: none;
}

.aeon .tttitle {
	background-color: white;
	background-image: url('../images/aeon.png');
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
	border-top: 1px solid #eee;
}

.aeon .panel p {
	margin: 0 0 1em 0;
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
}

.aeon .panel a * {
	display: none;
}

.aeon .panel .standfirst {
	display: block;
}

.bizinsider .tttitle {
	background-image: url('../images/bizinsider.jpeg')
}

.bizinsider .linkIcon {
	color: white;
}

.bizinsider .smallContainer a {
	color: rgb(34, 34, 34);
	font-family: helvetica;
	font-weight: bold;
}

.medium .tttitle {
	background-image: url('../images/medium.png');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
	background-size: 6em;
}

.medium .smallContainer a {
	font-family: Verdana, sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

.arstech .tttitle {
	background-image: url('../images/arstech.png');
	background-color: #252525;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.arstech .smallFoot {
	background-color: #252525
}

.arstech .linkIcon {
	color: white;
}

.arstech .smallContainer a {
	color: rgb(38, 48, 52);
	font-family: NoticiaBold, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 1.1em
}

.arstech .smallContainer img,
.arstech .smallContainer p
.arstech .smallContainer [itemprop="url"] {
	display: none;
}

.vice .tttitle {
	background-image: url('../images/vice.png');
	background-color: white;
	background-size: 5em;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.vice .smallContainer a {
	font-family: helvetica;
	color: black;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.tcrunch .tttitle {
	background-image: url('../images/tcrunch.png');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.tcrunch .smallContainer img,
.tcrunch .smallContainer p,
.tcrunch .smallContainer .byline {
	display: none;
}

.tcrunch .smallContainer h1,
.tcrunch .smallContainer h2,
.tcrunch .smallContainer h3,
.tcrunch .smallContainer h4,
.tcrunch .smallContainer a {
	margin: 0;
	padding: 0;
	color: #3e433e;
	font-weight: bold;
	font-size: inherit;
}

.tcrunch .smallContainer a {
	margin: 0 0 0.5em 0;
		font-size: 1em;
}


.deadspin .tttitle {
	background-image: url('../images/deadspin.jpeg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.deadspin .smallContainer a {
	font-family: helvetica;
	font-weight: bold;
	color: black;
}

.slate .tttitle {
	background-image: url('../images/slate.gif');
	background-size: 4.5em;
}

.slate .linkIcon {
	color: white;
}

.slate .smallContainer a {
	font-family: helvetica;
	color: rgb(40, 27, 33);
	font-weight: bold;
}

.slate small {
	display: none;

}

.drudge .tttitle {
	background-color: white;
	background-image: url('../images/drudge.jpeg');
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.drudge .smallContainer a {
	font-family: monospace;
	color: black;
	text-decoration: underline !important;
	font-size: 1.1em;
	font-weight: bold;
}

.drudge .smallContainer img {
	display: none;
}

.verge .tttitle {
	background-image: url('../images/verge.png');
	background-color: #EA613F;
}

.verge .smallFoot {
	background-color: #EA613F;
}

.verge h1,
.verge h2, 
.verge h3,
.verge h4 {
	margin: 0;
	padding: 0;
	font-family: Adelle, Georgia, serif;
	font-weight: 400;
	font-size: 1.1em;
	color: black;
}

.verge p {
	display: none;
}

.npr .tttitle {
	background-image: url('../images/npr.jpeg');
	background-color: black;
}

.npr .linkIcon {
	color: white;
}

.npr h1,
.npr h2,
.npr h3,
.npr h4 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	color: rgb(51, 51, 51);
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.npr .smallContainer p {
	display: none;
}

.mashable .tttitle {
	background-image: url('../images/mashable.png');
	background-size: 7em;
}

.mashable .smallContainer a {
	color: rgb(51, 51, 51);
	font-family: MuseoSlabRegular,'Proxima Nova', serif;
	font-weight: 500;
	font-size: 1.1em;
}

.tmz .tttitle {
	background-image: url('../images/tmz.png');
	background-size: 4em;
	background-color: #D00000;
}

.tmz .smallFoot {
	background-color: #D00000
}

.tmz .linkIcon {
	color: white;
}

.tmz .smallContainer h1,
.tmz .smallContainer h2,
.tmz .smallContainer h3,
.tmz .smallContainer h4 {
	margin: 0;
	padding: 0;
	font-size: 1em;
	display: inline;
	font-family: 'Source Sans Pro', arial, sans-serif;
	color: black;
	font-weight: 600;
}

.engadget .tttitle {
	background-image: url('../images/engadget.png');
background-size: 6em;
background-position-y: -0.4em;
}

.engadget .linkIcon {
	color: white;
}

.engadget .smallContainer a {
	font-family: 'Segoe UI', proxima-nova, proxima-nova-1, proxima-nova-2, 'Proxima Nova', Helvetica, Arial; 
	color: rgb(51, 51, 51);
	font-size: 1.1em;
	letter-spacing: 0.1px;
}

.engadget .smallContainer img,
.engadget .smallContainer p {
	display: none;
}

.cbssports .tttitle {
	background-image: url('../images/cbssports.png');
	background-color: white;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #eee;
}

.cbssports .smallContainer a {
	color: rgb(13, 58, 128);
	font-family: proxima-nova, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

.ign .smallContainer img {
	display: none;
}

.ign .tttitle {
	background-image: url('../images/ign.png');
	background-color: white;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #eee;
}

.ign .smallContainer a {
	color: rgb(0, 51, 153);
	font-family: 'proxima nova', sans-serif;
	font-weight: bold;
}

.bleacher .tttitle {
	background-color: rgb(95, 95, 95);
	background-image: url('../images/bleacher.jpeg');
}

.bleacher .linkIcon {
	color: white;
}

.bleacher .smallContainer img {
	display: none;
}

.bleacher .smallContainer a {
	color: rgb(0, 51, 102);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.gizmodo .tttitle {
	background-image: url('../images/gizmodo.png');
	background-color: white;
	background-size: 8em;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.gizmodo .smallContainer a {
	display: block;
	text-decoration: none;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 0.5em;
	color: black;
	font-size: 1em
}

.gizmodo .smallContainer a:hover {
	text-decoration: underline;
}

.usatoday .tttitle {
	background-image: url('../images/usatoday.png');
	background-color: black;
	background-position-x: 0;
}

.usatoday {
	border-color: black;
}

.usatoday .smallFoot {
	background-color: black;
}

.usatoday .linkIcon {
	color: white;
}

.usatoday .smallContainer {
	margin: 0;
	width: 100%;
}

.usatoday .smallContainer a {
	display: block;
	padding: 0.3em 0.5em;
	text-decoration: none;
	background-color: rgb(249, 249, 249);
	border-bottom: 1px solid rgb(220, 220, 220);
	border-top: 1px solid rgb(255, 255, 255);
}

.usatoday .smallContainer span {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgb(40,40,40);
}

.usatoday .smallContainer p {
	padding: 0;
	margin: 0;
}

.usatoday .smallContainer img {
	display: none;
}

.hreporter .tttitle {
	background-image: url('../images/hreporter.jpeg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.hreporter {
	background-color: rgba(255,255,255,0.95);
}

.hreporter .smallContainer a  {
	text-decoration: none;
	color: black;
}

.hreporter .smallContainer a h2 {
	display: block;
	text-decoration: none;
	color: black;
	font-family: georgia, serif;
	font-weight: 400;
	margin: 0.5em 0;
	font-size: 1.03em;
}

.hreporter .smallContainer a:hover {
	color: red;
}

.hreporter .smallContainer a > * {
	display: none;
}

.hreporter .smallContainer a h2 {
	display: block;
}

.cnbc .tttitle {
	background-image: url('../images/cnbc.png');
	background-color: #146195;
	background-size: 8em;
}

.cnbc {
	border-color: #146195
}

.cnbc .smallFoot {
	background-color: #146195
}

.cnbc .linkIcon {
	color: white;
}

.cnbc .smallContainer a {
	display: block;
	text-decoration: none;
	color: rgb(35, 80, 118);
	font-family: 'Gotham Narrow SSm 4r';
	font-size: 1.15em;
	margin: 0.5em 0;
}

.wsj .tttitle {
	background-image: url('../images/wsj.png');
	background-color: #3F4345
}

.wsj {
	border-color: #3F4345
}

.wsj .smallFoot {
	background-color: #3F4345;
}

.wsj .linkIcon {
	color: white;
}

.wsj .smallContainer a {
	display: block;
	text-decoration: none;
	color: rgb(9, 61, 114);
	font-family: Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
	font-size: 1.1em;
	margin: 0.5em 0;
}

.bloomberg .tttitle {
	background-image: url('../images/bloomberg.png');
	background-color: rgb(40,0,215);
	background-size: 10em;
}


.bloomberg .hero-story__image-container,
.bloomberg .hero-story__published-at,
.bloomberg .brief__story-decoration,
.bloomberg time,
.bloomberg .label-and-timestamp,
.bloomberg .byline {
	display: none;
}

.bloomberg .brief__story-headline-link {
	display: block !important;
}

.bloomberg article {
	margin-bottom: 0.5em;
}

.bloomberg .hero-story__headline a {
	text-decoration: none;
	color: rgb(43, 0, 247);
}

.bloomberg .brief__story-reaction,
.bloomberg .brief__story-headline,
.bloomberg .hero-story__headline,
.bloomberg .more-stories__story-headline,
.bloomberg .feed-item__headline   {
	font-size: 1em;
	margin: 0;
	font-family: Arial;
}

.bloomberg .brief__story-reaction a {
	color: rgb(250, 30, 100);
	text-decoration: none;
}

.bloomberg .brief__story-headline a {
	text-decoration: none;
	color:rgb(45, 45, 53);;
}

.bloomberg .more-stories__story-headline a,
.bloomberg .feed-item__headline a{
	text-decoration: none;
	color: #333;
}

.time .tttitle {
	background-color: #E90606;
	background-image: url('../images/time.png');
	background-size: 4.5em;
}

.time {
	border-color: #E90606
}

.time .smallFoot {
	background-color: #E90606;
}

.time .linkIcon {
	color: white;
}

.time .smallContainer a {
	text-decoration: none;
	color: rgb(24, 24, 24);
}

.time h1,
.time h2,
.time h3,
.time h4 {
	 font-family: franklin-gothic-urw, sans-serif;
	 font-weight: bold;
	 font-size: 1em;
	 margin: 0.5em 0;
}


.bbc .tttitle {
	background-image: url('../images/bbc.gif');
	background-position-x: 0;
	background-color: white;
	border-bottom: 1px solid #eee;
}

.bbc {
	background-color: rbga(255,255,255,0.95);
}

.bbc .livestats-icon {
	display: none;
}

.bbc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bbc .smallContainer img {
	display: none;
}

.bbc .smallContainer a {
	text-decoration: none;
	font-family: arial, sans-serif;
	color: black;
	font-weight: bold;
}

.bbc li {
	margin: 0.5em 0;
}

.bbc .media_link {
	display: block;
	margin: 0.5em 0;
}

.theguardian .tttitle {
	background-image: url('../images/theguardian.jpg');
	background-color: #00417B;
	background-size: 9em;
}

.theguardian {
	border-color: #00417B
}

.theguardian .smallFoot {
	background-color: #00417B;
}

.theguardian .linkIcon {
	color: white;
}

.theguardian .headline-list__count {
	display: none;
}


.theguardian .smallContainer a {
	font-family: 'Guardian Egyptian Web', 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 1em;
	font-weight: bold;
	margin: 0.5em 0;
	line-height: 1.25em;
	color: rgb(51, 51, 51);
}

.theguardian h2 {

}

.wapo .tttitle {
	background-color: white;
	background-image: url('../images/wapo.jpg');
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
	background-position-y : 3px 
}

.wapo h1,
.wapo h2,
.wapo h3,
.wapo .headline {
	color: black;
	font-size: 1em;
	margin: 0.5em 0;
	font-family: arial;
	font-weight: bold;
}

.wapo a {
	text-decoration: none;
	color: black;
}

.wapo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wapo .number,
.wapo p,
.wapo .smallContainer img {
	display: none;
}

.foxnews .tttitle {
	background-image: url('../images/foxnews.jpeg');
	background-color: #022960;
}

.foxnews {
	border-color: #022960
}

.foxnews .smallFoot {
	background-color: #022960;
}

.foxnews .linkIcon {
	color: white;
}

.foxnews .smallContainer a {
	text-decoration: none;
	color: rgb(24, 58, 82);
	font-family: arial, sans-serif;
	font-weight: bold;
}

.foxnews .smallContainer img {
	display: none;
}

.foxnews .smallContainer h1,
.foxnews .smallContainer h2,
.foxnews .smallContainer h3,
.foxnews .smallContainer h4 {
	font-size: 1em;
}

.foxnews ul {
	padding: 0;
	margin: 0;
}

.foxnews li {
	list-style: none;
}

.foxnews li p {
	display: none;
}

.googleNews .tttitle {
	background-image: url('../images/googlenews.png');
background-size: 7em;
background-position-y: 0.4em;
background-position-x: 1em;
}

.googleNews .smallContainer a {
	color: rgb(17, 85, 204);
	font-family: arial, sans-serif;
	text-decoration: none;
}

.googleNews .smallContainer h2 {
	font-size: 1em;
	margin: 0.5em 0;
}

.googleNews .smallContainer a:hover {
	text-decoration: underline;
}

.buzzfeed .tttitle {
	background-image: url('../images/buzzfeed.png');
	background-color: #EE3322

}

.buzzfeed .linkIcon {
	color: white;
}

.buzzfeed .smallFoot {
	background-color: #EE3322;
}

.buzzfeed .smallContainer img {
	display: none;
}

.buzzfeed ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.buzzfeed .smallContainer h2,
.buzzfeed .smallContainer a {
	font-weight: bold;
	color: black;
	text-decoration: none;
	font-family: ProximaNovaSemibold, Helvetica, Arial, sans-serif;
	margin: 0em 0em 0.5em 0em;
	font-size: 1em;
}

.buzzfeed ol div {
	display: none;
}

.buzzfeed ol a {
	text-decoration: none;
	color: #333;
}

.buzzfeed a:hover {
	color: #555;
	text-decoration: underline;
}

.cnn {
	border-color: #CA0002;
}

.cnn .tttitle {
	background-color: #CA0002;
	background-image: url('../images/cnn.png')
}

.cnn .smallFoot {
	background-color: #CA0002;
}

.cnn .linkIcon {
	color: white;
}

.cnn .cnn_bulletbin {
	padding: 0;
	margin: 0;
}

.cnn .cnn_bulletbin li {
	color: rgb(90, 82, 77);
	font-family: arial;
	margin: 0.5em 0;
	font-weight: bold;
}

.cnn .cnn_bulletbin a {
	text-decoration: none;
	color: rgb(90, 82, 77);
	font-family: arial;
	font-weight: bold;
}

.cnn .cnn_bulletbin a:hover {
	color: darkblue;
	text-decoration: underline;
}

.huffpo .tttitle {
	background-image: url('../images/huffingtonpost.gif');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.2) 0px 1px 2px 0px;
}

.huffpo .smallContainer h5 div {
	display: none;
}

.huffpo h5,
.huffpo h4, 
.huffpo h3,
.huffpo h2,
.huffpo h1,
.huffpo .smallContainer #splash_block {
	display: block;
	margin: 0em 0em 0.5em 0em;
	color: rgb(26, 26, 26);
	font-family: arial;
	width: 100% !important;

}

.huffpo .smallContainer * {
	font-size: 1em !important;
	color: rgb(26, 26, 26);
	text-decoration: none;
}


.espn .tttitle {
	background-color: #7F0200;
	background-size: 80px, 20px;
	background-position-y: 0.3em;
	background-image: url('../images/espn.png')
}

.espn {
	border-color: #7F0200;
}

.espn .smallFoot {
	background-color: #7F0200;
}

.espn .linkIcon {
	color: white;
}

.espn .headlines {
	margin: 0;
	padding: 1em 2em;
	width: 85%;
}

.espn .smallContainer a {
	font-family: verdana, helvetica, arial, sans-serif;
	margin: 0;
	color: #222;
	text-decoration: none;
}

.espn .smallContainer a:hover {
	text-decoration: underline;
	color: darkblue;
}

.espn .linkIcon {
	display: none;
}

.nytimes .tttitle {
	background-color: white;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-image: url('../images/nytimes.png')
}

.nytimes .smallContainer h2,
.nytimes .smallContainer h1,
.nytimes .smallContainer h3
 {
	margin: 0em 0 0.5em 0;
	font-size: 1em;
	font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
	xfont-style: italic;
	font-weight: bold;
}

.nytimes .smallContainer a {
	text-decoration: none;
	color: black;
}

.nytimes .smallContainer a:hover {
	text-decoration: underline;
}

.nytimes .smallContainer span {
	display: none;
}
.blazersEdge .smallContainer .article span,
.blazersEdge .smallContainer .article div p,
.blazersEdge .smallContainer .article div div,
.blazersEdge .smallContainer .m-block__image,
.blazersEdge .smallContainer .m-hero-block .article,
.half,
.quarter {
	display: none;
}

.blazersEdge .tttitle {
	background-image: url('../images/bedge.png');

}

.blazersEdge .smallContainer .article div p {
	display: none;
}

.blazersEdge .smallContainer .post div header {
	font-size: 0.8em; 
	display: block;
	font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
	color: rgb(41,41,41);
}

.blazersEdge .smallContainer div h2 {
	margin: 0.5em 0;
}

.blazersEdge .smallContainer div a {
	color: black;
	text-decoration: none;
}

.blazersEdge .smallContainer div a:hover {
	color: black;
	text-decoration: underline;
}

.fiveThirtyEight .tttitle {
	background-position-y: .1em;
	background-image: url('../images/fiveThirtyEight.jpeg');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.1) 0px 1px 2px 0px;
}

.fiveThirtyEight  {
	background-color: white;
}

.fiveThirtyEight .tttitle:hover {
	cursor: pointer;
}

.fiveThirtyEight .smallContainer h2,
 .fiveThirtyEight .smallContainer h3 {
	margin: 0em 0em 0.5em 0em;
	font-size: 1em;
	color: black;
	text-decoration: none;
	font-family: ArnhemPro, Georgia, 'Times New Roman', 
}

.fiveThirtyEight .smallContainer a {
	color: black;
	text-decoration: none;
	background-color: white;
}

.fiveThirtyEight .smallContainer a:hover {
	text-decoration: underline;
}

.theAtlantic .tttitle {
	font-style: italic;
	background-image: url('../images/theatlantic.png');
	background-color: #002B45;
}

.theAtlantic .smallContainer a {
	margin: 0em 0em 0.5em 0em;
	font-family: 'times new roman', times, serif;
	font-weight: bold;
	font-size: 1.15em;
	text-decoration: none;
	color: black;
}

.theAtlantic .smallFoot {
	background-color: #002B45;
}

.theAtlantic .linkIcon {
	color: white;
}

.theAtlantic .smallContainer a:hover {
	text-decoration: underline;
}

.theAtlantic .smallContainer img,
.theAtlantic .smallContainer .dek,
.theAtlantic .smallContainer p,
.theAtlantic .smallContainer .authors,
.theAtlantic .smallContainer figcaption,
.theAtlantic .smallContainer .author,
.theAtlantic .smallContainer figure,
.theAtlantic .smallContainer a[rel='author'] {
	display: none;
}


.oLive .tttitle {
	background-image: url('../images/oLive.png');
	background-color: white;
	box-shadow: rgba(100, 100, 100, 0.24902) 0px 1px 3px 0px;	
	background-size: 7em;
}

.oLive .smallContainer a {
	font-family: prelo-slab, Tahoma, Geneva, sans-serif;
	color: rgb(54, 54, 54);
	font-weight: bold;
	display: block;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: .7em;
}

.oLive a:hover {
	text-decoration: underline
}

.qz {
	border-color: black;
	color: rgb(76, 76, 76);
}

.qz .tttitle {
	background-color: black;
	background-image: url('../images/quartz.png');
	background-size: 9em;
}

.qz .tttitle a {
	color: white;
	font-family: AdelleBold, sans-serif;
	font-size: 1.1em;
	letter-spacing: .1em;
}

.qz .note-summary {
	margin-bottom: 0.5em
}

.qz h2 {
	color: rgb(51, 51, 51);
	font-family: AdelleBold,Helvetica,sans-serif;
	font-weight: 700;
	margin: 0em;
	font-size: 1em;
}

.qz .smallContainer a {
	color: rgb(22, 141, 217);
	text-decoration: none;
}

.qz a:hover {
	text-decoration: underline;
}

.qz .linkIcon {
	color: white;
}

.reddit {
	border-color: #CEE3F8;
}

.reddit .tttitle {
	background-color: #CEE3F8;
	background-image: url('../images/reddit.png');
	background-size: 4.5em;
}

.reddit .smallFoot {
	background-color: #CEE3F8
}

.reddit .redditChunk {
	margin-bottom: .5em;
}

.reddit .redditChunk > * {
	margin-right: .5em;
}

.reddit .domain * {
	color: rgb(136, 136, 136);
	font-size: 0.7em;
}

.reddit .subreddit {
	color: rgb(51, 102, 153);
	font-size: 0.7em;
}

.reddit .comments {
	color: rgb(136, 136, 136);
	font-size: 0.7em;
}

.reddit .title {
	display: inherit;
	text-decoration: none;
	color: #551a8b;
	font-family: verdana, arial, helvetica, sans-serif;
}

.twitter {
	border-color: #55ACEE;
	font-family: Arial, sans-serif;
}

.twitter .tttitle  {
	background-image: url('../images/twitter.png');
	background-color: white;
	background-color: #55ACEE;
	background-position-y: center;
	background-size: 1.7em;
}
/***************************
****************************
.twitter s {
	text-decoration: none;
}

.twitter .smallContainer .tweet-text a,
.twitter .twitter-atreply s,
.twitter .twitter-atreply b,
.twitter .pretty-link b {
	color: rgb(0, 132, 180);
	text-decoration: none;
	font-weight: normal;
}



.twitter .smallContainer .tweet-text-outer {
	text-decoration: none;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.twitter .invisible {
	display: none;
}

.twitter .stream-item-header a {
	text-decoration: none;
}

.twitter a:hover {
	text-decoration: underline;
}

.twitter .smallFoot {
	background-color: #55ACEE;
}

.twitter .fullname {
	font-weight: bold;
	color: #292f33;
}

.twitter .js-retweet-text {
	color: #8899a6;
	font-size: 0.9em;
}

.twitter .context .pretty-link b {
	font-weight: normal
}

.twitter .js-retweet-text a {
	text-decoration: none;
}

.tweet {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;	
	border-bottom: 1px solid rgb(225, 232, 237);
}

.tweet .avatar,
.tweet .cards-media-container,
.tweet .expanded-content,
.tweet .tweet-details-fixer,
.tweet .bottom-tweet-actions,
.tweet .stream-item-footer,
.tweet .u-hiddenVisually,
.tweet .js-disclosure,
.tweet .js-action-profile-promoted {
	display: none;
}

.tweet .tweet-text {
	margin: 0;
}

.twitter .username,
.twitter ._timestamp {
	color: rgb(136, 153, 166)
}

.twitter .username s,
.twitter .username b {
	font-weight: normal;
	font-size: 0.9em;
}

.promoted-tweet {
	display: none;
}

.twitter .linkIcon {
	color:white;
}

****************************
***************************/

.twitter .content > * {
	display: none;
}

.twitter .tweet {
	padding: 0.6em 0.5em 0.5em 3.5em;
	xborder-bottom: 1px solid #ddd	;
	font-size: 1em;
}

.twitter .tweet-context {

	xpadding: 0.5em 0;
}
.twitter .Icon--retweeted:before {
	font-family: FontAwesome;
	content: "\f079";
	color: #999;
}

.twitter a,
.twitter s {
	text-decoration: none;
}

.promoted-tweet,
.twitter .u-hiddenVisually,
.twitter .invisible,
.twitter button {
	display: none;
}

.twitter .stream-item-header {
	position: relative;
	display: block;
	overflow: ellipsis;
	line-height: 1em;
}

.twitter .content {
	position: relative;
}

.twitter .avatar {
	float: left;
	position: absolute;
	left: -3.5em;		
	height: 3em;
	border-radius: 0.5em;
	margin-right: 0.5em;
}


.twitter .pLink {
	position: absolute;
	display: none;
	left: -3.5em;
	bottom: 0em;
	color: #999;
	background-color: white;
}

.twitter .tweet-text {
	display: block;
	clear: both;
	margin: 0.1em 0em;
}

.twitter .twitter-emoji {
	height: 1em;
}

.twitter .fullname {
	color: #333;
}

.twitter s,
.twitter b,
.twitter .js-retweet-text {
	color: #999;
	font-weight: 400;
	font-size: 0.9em;
}

.twitter .tweet-text .pretty-link s,
.twitter .tweet-text .pretty-link b {
	color: #333;
}

.twitter .smallContainer .tweet-text a {
	color: rgb(0, 132, 180);

}

.twitter .time a {
	color: #ccc;
	float: right;
	font-size: 0.9em;
	line-height: 0.9em;
}



.hackerNews {
	border-color: #FF6600;
	background-color: #F6F6EF;
	text-decoration: none;
	color: black;
	padding-left: 0;
}

.hackerNews table {
	table-layout: fixed;
	width: 100%;	
}

.hackerNews .tttitle {
	background-image: url('../images/hacker-news.jpg'); 
}

.hackerNews a {
	text-decoration: none;
	color: black;
}

.hackerNews tr {
	width: 1em;
	list-style: none;
}

.hackerNews .title {
	sdisplay: none;
}

.hackerNews tr:nth-child(3n+1) td:nth-child(1),
.hackerNews tr:nth-child(3n+1) td:nth-child(2),
.hackerNews tr:nth-child(3n+2) td:nth-child(1) {
	display: none
}

.subtext a,
.subtext {
	color: #828282;
	font-size: 0.9em;
}

.hackerNews .hComLink {
	xcolor: #828282;
	font-size: .8em;
}

.hackerNews a:hover {
	text-decoration: underline;
}

.hackerNews .tttitle, .hackerNews .smallFoot {
		background-color: #FF6600;
}

.hackerNews .title {
	font-family: Verdana, Geneva, sans-serif;
}


.hackerNews .smallContainer {
	font-size: .9em;
	xpadding-top: 2em;

	margin-left: 0.2em;
	height: 37.5em;
	background-color: #F6F6EF;

}

.hackerNews .comhead {
	color: #828282;
	font-size: 0.9em;
}