.rtomatoes .right_col {
	width: 4em;
}

.rtomatoes .tttitle {
	background-image: url('../images/rtomatoes.png');
	xbackground-position: left;
	background-color: #3A9425;
}

.rtomatoes .smallFoot {
	zdisplay: none;}

.rtomatoes .clickForMore {
	text-align: right;
	padding-right: 1em;
}



.rtomatoes table {
	width: 100%;

}

.rtomatoes .smallContainer a {
	margin: 0;
	color: rgb(52, 52, 52);
}

.rtomatoes .smallContainer td {
	color: rgb(52, 52, 52);
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.1em
}

.rtomatoes .noRating {
	display: none;
}

.rtomatoes h2 {
	font-family: Helvetica, Arial, sans-serif;
	color: rgb(52, 52, 52);
	font-size: 1.2em

}

.forbes .tttitle {
	background-image: url('../images/forbes.jpg');
	background-size: 8em;
	background-color: #444444;
}

.forbes .smallFoot {
	background-color: #444;
}

.forbes .smallFoot span {
	color: white;
}

.forbes .smallContainer a {
	color: rgb(15, 45, 95);
	font-family: georgia;
	font-size: 1.1em;
}

.wired .tttitle {
	background-image: url('../images/wired.jpeg');
	background-color: black;
	border: 1px solid;	
}

.wired .smallFoot {
	background-color:black;
}

.wired .smallFoot span {
	color: white;
}

.wired .headline {
	margin-bottom: 1em;
}

.wired h2 a {
	color: rgb(51, 51, 51);
}

.wired h5 {
	letter-spacing: -0.3px;
	font-weight: bold;
	color: rgb(51, 51, 51);
	font-family: Helvetica, arial, sans-serif;
}

.dailybeast .tttitle {
	background-color: #EE2E24;
	background-image: url('../images/dailybeast.png');
}

.dailybeast .smallFoot {
	background-color: #EE2E24
}

.dailybeast .smallFoot span {
	color: white;
}

.dailybeast {
	background-color: #F5F4EF
}

.dailybeast .smallContainer {
	margin: 0;
	padding: 0 4%;
	width: 92%;	

}

.dailybeast .cheat a {
	margin: 0;
}



.dailybeast .title {
	margin: 0;
	text-align: center;
	font-family: Georgia,Times,serif;
font-weight: 300;
color: black;
font-size: 1.3em; 

}

.dailybeast .dek {
	font-family: Arial, sans-serif;
	margin: 0;
	text-align: center;
	color: rgb(102, 102, 102);
	margin-bottom: 1em;
}

.dailybeast .rubric {
	font-size: 1.15em;
	color: #ee2e24;
	margin: 0;
	text-align: center;
}

.dailybeast .smallcontainer {
	text-align: center ;
}

.dailybeast .smallContainer img,
.dailybeast .social {
	display: none
}

.dailybeast li {
	list-style: none;
}

.newsweek  {
	background-color: white;
}

.newsweek .tttitle {
	background-image: url('../images/newsweek.jpeg');
	background-color: white;
	border-bottom: 1px solid red;
}


.newsweek .hf-title a {
	font-family: helvetica;
	font-weight: bold;
	font-size: 1.1em;
	color: black;
	margin-bottom: 0;
}

.newsweek .hf-summary {
	font-family: helvetica;
	font-size: 1em;
	color: rgb(90, 90, 90);
	margin-bottom: 0.5em;
}

.newsweek .related-links,
.newsweek .hf-category {
	display: none;
}

.newyorker .tttitle {
	background-image: url('../images/newyorker.jpeg');
	background-color: white;
	border-bottom: 1px solid #ccc;
}

.newyorker {
	background-color: white;
}

.newyorker p {
	margin: 0 0 1em 0
}

.newyorker .smallContainer {
	text-align: center;
	margin: 0;
	font-family: Georgia, serif;
	padding-top: 0.5em;
}

.newyorker .smallContainer a {
	color: black;
	font-weight: 500;
	font-size: 1.3em;
	margin:0;
}

.newyorker h4,
.newyorker h3,
.newyorker #cartoons,
.newyorker .featured-video {
	display: none;
}

.ft .tttitle {
	background-image: url('../images/ft.jpg');
	background-size: 10em;
}

.ft  {
	background-color: #FFF1E0

}

.ft a {
	color: black;
	margin-bottom: 0.3em;
}

.ft .smallContainer div div > *,
.ft .smallContainer .ft-list {
	display: none;
}

.ft .smallContainer h3 {
	display: block;
	font-family: Georgia, 'Times New Roman';
	font-size: 1.2em;
	color: black;
	font-weight: normal; 
}

.ft .smallContainer h4 {
	display: block;
	font-family: Georgia, 'Times New Roman', serif;
	font-size: 1.1em;
	font-weight: normal; 
	color: rgb(80, 80, 80);
	margin-bottom: 1em;
}

.nypost .tttitle {
	background-image: url('../images/nypost.jpeg');
	background-color: white;
}

.nypost .smallContainer a {
	font-family: Helvetica, sans-serif;
	font-style: 1.1em;
	color: rgb(40,40,40);
	font-weight: 600;
}

.sfgate .tttitle  {
	background-image: url('../images/sfgate.jpeg');
	background-color: white;
	background-size: 5em;
}

.sfgate .smallContainer a {
	color: rgb(34, 34, 34);
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.sfgate .smallContainer span {
	display: none;
}

.latimes .tttitle {
	background-image: url('../images/latimes.png');
	background-color: white;
}

.latimes .smallContainer a {
	font-family: Georgia, serif;
	color: black;
	font-weight: bold;
	font-size: 1em;
}

.techreview .tttitle  {
	background-image: url('../images/techreview.png')
}

.techreview .smallContainer a {
	border-bottom: 1px solid rgb(209, 215, 215);
	font-size: 1em;
	color: rgb(39, 39, 40);
	padding-bottom: 0.5em;
}

.techreview .smallContainer img,
.techreview h3,
.techreview p,
.techreview .cta {
	display: none;
}

.rstone .tttitle {
	background-image: url('../images/rstone.svg');
	background-color: white;
}

.rstone .smallContainer a {
	font-family: Georgia, serif;
	font-weight: bold;
	color: black;
	font-size: 1.1em;
}


.rstone .smallContainer img,
.rstone .picks-tagline,
.rstone .label-text {
	display: none;
}

.nymag .tttitle {
	background-image: url('../images/nymag.png');
	background-color: white;
}

.nymag .smallContainer a {
	background-image: none !important;
}

.nymag .hed {
	font-size: 1.1em;
	margin: 0;
	color: rgb(17, 17, 17)
}

.nymag .dek,
.nymag p {
	font-weight: 100;
	font-family: arial, sans-serif;
	margin: 0;
	color: rgb(85, 85, 85);

}

.nymag .stripe,
.nymag .author,
.nymag .listItem,
.nymag cite,
.nymag time,
.nymag img {
	display: none;
}

.economist .tttitle {
	background-image: url('../images/economist.png');
	background-position-x: 0;
	background-size: 5em;
}

.economist p {
	margin: 0;
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgb(91, 91, 91);
}

.economist h1,
.economist h2,
.economist h3,
.economist h4 {
	margin: 0;
	color: rgb(74, 74, 74);
	font-family: Georgia, serif;
	font-weight: 500;
	font-size: 1.3em;
}

.economist .smallContainer span {
	display: none;
}

.variety .tttitle {
	background-color: white;
	background-image: url('../images/variety.jpg');
	background-size 5em;
}

.variety .smallContainer a {
	font-family: 'Droid Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
	font-weight: bold;
	font-style: italic;
	color: black;
	font-size: 1.1em;
}

.variety .smallContainer img,
.variety .category,
.variety .url {
	display: none;
}

.aeon .tttitle {
	background-color: white;
	background-image: url('../images/aeon.png');
	box-shadow: rgba(50, 50, 50, 0.34902) 0px 1px 5px 0px;
	border-top: 1px solid #eee;
}

.aeon .panel p {
	margin: 0 0 1em 0;
	color: rgb(0, 0, 0);
	font-family: Georgia, serif;
}

.aeon .panel a * {
	display: none;
}

.aeon .panel .standfirst {
	display: block;
}

.bizinsider .tttitle {
	background-image: url('../images/bizinsider.jpeg')
}

.bizinsider .smallContainer a {
	color: rgb(34, 34, 34);
	font-family: helvetica;
	font-weight: bold;
}

.medium .tttitle {
	background-image: url('../images/medium.png');
	background-color: white;
	background-size: 6em;
}

.medium .smallContainer a {
	font-family: Verdana, sans-serif;
	color: rgba(0, 0, 0, 0.8);
	font-weight: bold;
}

.arstech .tttitle {
	background-image: url('../images/arstechlight.png');
	background-color: white;
}

.arstech .smallContainer a {
	color: rgb(38, 48, 52);
	font-family: NoticiaBold, 'Times New Roman', serif;
	font-weight: bold;
	font-size: 1.1em
}

.arstech .smallContainer img,
.arstech .smallContainer p
.arstech .smallContainer [itemprop="url"] {
	display: none;
}

.vice .tttitle {
	background-image: url('../images/vice.png');
	background-color: white;
}

.vice .smallContainer a {
	font-family: helvetica;
	color: black;
	font-weight: bold;
	font-size: 
}

.tcrunch .tttitle {
	background-image: url('../images/tcrunch.png');
	background-color: white;
}

.tcrunch .smallContainer img,
.tcrunch .smallContainer p,
.tcrunch .smallContainer .byline {
	display: none;
}

.tcrunch .smallContainer h1,
.tcrunch .smallContainer h2,
.tcrunch .smallContainer h3,
.tcrunch .smallContainer h4,
.tcrunch .smallContainer a {
	margin: 0;
	padding: 0;
	color: #3e433e;
	font-weight: bold;
	font-size: inherit;
}

.tcrunch .smallContainer a {
	margin: 0 0 0.5em 0;
		font-size: 1em;
}


.deadspin .tttitle {
	background-image: url('../images/deadspin.jpeg');
	background-color: white;
}

.deadspin .smallContainer a {
	font-family: helvetica;
	font-weight: bold;
	color: black;
}

.slate .tttitle {
	background-image: url('../images/slate.gif');
	background-size: 4.5em;
}

.slate .smallContainer a {
	font-family: helvetica;
	color: rgb(40, 27, 33);
	font-weight: bold;
}

.slate small {
	display: none;

}

.drudge .tttitle {
	background-color: white;
	background-image: url('../images/drudge.jpeg');
}

.drudge .smallContainer a {
	font-family: monospace;
	color: black;
	text-decoration: underline !important;
	font-size: 1.1em;
	font-weight: bold;
}

.drudge .smallContainer img {
	display: none;
}

.verge .tttitle {
	background-image: url('../images/verge.jpeg')
}

.verge h1,
.verge h2, 
.verge h3,
.verge h4 {
	margin: 0;
	padding: 0;
	font-family: Adelle, Georgia, serif;
	font-weight: 400;
	font-size: 1.1em;
	color: black;
}

.verge p {
	display: none;
}

.npr .tttitle {
	background-image: url('../images/npr.jpeg');

}

.npr h1,
.npr h2,
.npr h3,
.npr h4 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	color: rgb(51, 51, 51);
	font-family: 'Gotham SSm', Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.npr .smallContainer p {
	display: none;
}

.mashable .tttitle {
	background-image: url('../images/mashable.png');
	background-size: 7em;
}

.mashable .smallContainer a {
	color: rgb(51, 51, 51);
	font-family: MuseoSlabRegular,'Proxima Nova', serif;
	font-weight: 500;
	font-size: 1.1em;
}

.tmz .tttitle {
	background-image: url('../images/tmz.png');
	background-size: 4em;
}

.tmz .smallContainer h1,
.tmz .smallContainer h2,
.tmz .smallContainer h3,
.tmz .smallContainer h4 {
	margin: 0;
	padding: 0;
	font-size: 1.1em;
	display: inline;
	font-family: 'Source Sans Pro', arial, sans-serif;
	color: black;
	font-weight: 600;
}

.engadget .tttitle {
	background-image: url('../images/engadget.png');
	background-size: 5em;
}

.engadget .smallContainer a {
	font-family: 'Segoe UI', proxima-nova, proxima-nova-1, proxima-nova-2, 'Proxima Nova', Helvetica, Arial; 
	color: rgb(51, 51, 51);
	font-size: 1.1em;
	letter-spacing: 0.1px;
}

.cbssports .tttitle {
	background-image: url('../images/cbssports.png');
	background-color: white;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #eee;
}

.cbssports .smallContainer a {
	color: rgb(13, 58, 128);
	font-family: proxima-nova, Arial, Helvetica, sans-serif;
	font-size: 1.1em;
}

.ign .smallContainer img {
	display: none;
}

.ign .tttitle {
	background-image: url('../images/ign.png');
	background-color: white;
	border-bottom: 1px solid #efefef;
	border-top: 1px solid #eee;
}

.ign .smallContainer a {
	color: rgb(0, 51, 153);
	font-family: 'proxima nova', sans-serif;
	font-weight: bold;
}

.bleacher .tttitle {
	background-image: url('../images/bleacher.jpeg');
}

.bleacher .smallContainer img {
	display: none;
}

.bleacher .smallContainer a {
	color: rgb(0, 51, 102);
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.gizmodo .tttitle {
	background-image: url('../images/gizmodo.png');
	background-color: white;
	background-size: 9em;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

.gizmodo .smallContainer a {
	display: block;
	text-decoration: none;
	font-family: ProximaNovaCond, Proxima Nova Georgia, serif;
	font-weight: bold;
	margin-bottom: 0.5em;
	color: black;
	font-size: 1.1em
}

.gizmodo .smallContainer a:hover {
	text-decoration: underline;
}

.usatoday .tttitle {
	background-image: url('../images/usatoday.png');
	background-color: black;
	background-position-x: 0;
}

.usatoday {
	border-color: black;
}

.usatoday .smallFoot {
	background-color: black;
}

.usatoday .smallFoot span {
	color: white;
}

.usatoday .smallContainer {
	margin: 0;
	width: 100%;
}

.usatoday .smallContainer a {
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	background-color: rgb(249, 249, 249);
	border-bottom: 1px solid rgb(220, 220, 220);
	border-top: 1px solid rgb(255, 255, 255);
}

.usatoday .smallContainer span {
	font-family: Arial, sans-serif;
	font-weight: bold;
	color: rgb(40,40,40);
}

.usatoday .smallContainer p {
	padding: 0;
	margin: 0;
}

.usatoday .smallContainer img {
	display: none;
}

.hreporter .tttitle {
	background-image: url('../images/hreporter.jpeg');
	background-color: white;
}

.hreporter .smallContainer a {
	display: block;
	text-decoration: none;
	color: black;
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	margin: 0.5em 0;
}

.hreporter .smallContainer a:hover {
	color: red;
}

.businessweek .tttitle {
	background-image: url('../images/businessweek.png');
	background-color: white;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	background-size: 7em;
}

.businessweek .smallContainer a {
	display: block;
	text-decoration: none;
	color: rgb(85, 85, 85);
	font-family: sans-serif;
	border-bottom: 1px solid rgb(224, 224, 224);
	padding: 0.25em 0;
}

.businessweek .smallContainer a:hover {
	text-decoration: underline;
}

.cnbc .tttitle {
	background-image: url('../images/cnbc.png');
	background-color: #146195;
	background-size: 8em;
}

.cnbc {
	border-color: #146195
}

.cnbc .smallFoot {
	background-color: #146195
}

.cnbc .smallFoot span {
	color: white;
}

.cnbc .smallContainer a {
	display: block;
	text-decoration: none;
	color: rgb(35, 80, 118);
	font-family: 'Gotham Narrow SSm 4r';
	font-size: 1.15em;
	margin: 0.5em 0;
}

.wsj .tttitle {
	background-image: url('../images/wsj.png');
	background-color: #3F4345
}

.wsj {
	border-color: #3F4345
}

.wsj .smallFoot {
	background-color: #3F4345;
}

.wsj .smallFoot span {
	color: white;
}

.wsj .smallContainer a {
	display: block;
	text-decoration: none;
	color: rgb(9, 61, 114);
	font-family: Georgia, 'Century Schoolbook', 'Times New Roman', Times, serif;
	font-size: 1.1em;
	margin: 0.5em 0;
}

.bloomberg .tttitle {
	background-color: black;
	background-image: url('../images/bloomberg.svg');
	background-size: 7em;
	background-position-y: 4px;
}

.bloomberg {
	border-color: black;
}

.bloomberg .smallFoot {
	background-color: black;
}

.bloomberg .smallFoot span {
	color: white;
}

.bloomberg li {
	list-style: none;
}

.bloomberg .smallContainer a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-family: akzidenz-grotesk-std-bloom, Arial, Helvetica, sans-serif;
	margin: 0.5em 0;
	display: block;
}

.bloomberg .smallContainer a:hover {
	color: #555;
	text-decoration: underline;
}

.time .tttitle {
	background-color: #E90606;
	background-image: url('../images/time.png');
	background-size: 4.5em;
}

.time {
	border-color: #E90606
}

.time .smallFoot {
	background-color: #E90606;
}

.time .smallFoot span {
	color: white;
}

.time .smallContainer a {
	text-decoration: none;
	color: rgb(24, 24, 24);
}

.time h1,
.time h2,
.time h3,
.time h4 {
	 font-family: franklin-gothic-urw, sans-serif;
	 font-weight: bold;
	 font-size: 1em;
	 margin: 0.5em 0;
}


.bbc .tttitle {
	background-image: url('../images/bbc.gif');
}

.bbc .livestats-icon {
	display: none;
}

.bbc ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.bbc img {
	display: none;
}

.bbc .smallContainer a {
	text-decoration: none;
	font-family: arial, sans-serif;
	color: black;
	font-weight: bold;
}

.bbc li {
	margin: 0.5em 0;
}

.bbc .media_link {
	display: block;
	margin: 0.5em 0;
}

.theguardian .tttitle {
	background-image: url('../images/theguardian.jpg');
	background-color: #00417B;
	background-size: 9em;
}

.theguardian {
	border-color: #00417B
}

.theguardian .smallFoot {
	background-color: #00417B;
}

.theguardian .smallFoot span {
	color: white;
}

.theguardian .headline-list__count {
	display: none;
}

.theguardian a {
	text-decoration: none;
	color: rgb(51, 51, 51);
}

.theguardian h2 {
	font-family: 'Guardian Egyptian Web', 'Guardian Text Egyptian Web', Georgia, serif;
	font-size: 1em;
	margin: 0.5em 0;
	line-height: 1.25em;
}

.theguardian h2 {

}

.wapo .tttitle {
	background-color: white;
	background-image: url('../images/wapo.jpg');
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
	background-position-y : 2px 
}

.wapo h1,
.wapo h2,
.wapo h3,
.wapo .headline {
	color: black;
	font-size: 1em;
	margin: 0.5em 0;
	font-family: arial;
	font-weight: bold;
}

.wapo a {
	text-decoration: none;
	color: black;
}

.wapo ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wapo .number,
.wapo p,
.wapo img {
	display: none;
}

.foxnews .tttitle {
	background-image: url('../images/foxnews.jpeg');
	background-color: #022960;
}

.foxnews {
	border-color: #022960
}

.foxnews .smallFoot {
	background-color: #022960;
}

.foxnews .smallFoot span {
	color: white;
}

.foxnews .smallContainer a {
	text-decoration: none;
	color: rgb(24, 58, 82);
	font-family: arial, sans-serif;
}

.foxnews img {
	display: none;
}

.foxnews .smallContainer h1,
.foxnews .smallContainer h2,
.foxnews .smallContainer h3,
.foxnews .smallContainer h4 {
	font-size: 1em;
}

.foxnews ul {
	padding: 0;
	margin: 0;
}

.foxnews li {
	list-style: none;
}

.foxnews li p {
	display: none;
}

.googleNews .tttitle {
	background-image: url('../images/googlenews.png');
	background-size: 7.5em;
}

.googleNews .smallContainer a {
	color: rgb(17, 85, 204);
	font-family: arial, sans-serif;
	text-decoration: none;
}

.googleNews .smallContainer h2 {
	font-size: 1em;
	margin: 0.5em 0;
}

.googleNews .smallContainer a:hover {
	text-decoration: underline;
}

.buzzfeed .tttitle {
	background-image: url('../images/buzzfeed.png')

}

.buzzfeed img {
	display: none;
}

.buzzfeed ol {
	list-style: none;
	margin: 0;
	padding: 0;
}

.buzzfeed h2 {
	font-family: ProximaNovaSemibold, Helvetica, Arial, sans-serif;
	margin: 0.6em 0;
	font-size: 1em;
}

.buzzfeed ol div {
	display: none;
}

.buzzfeed ol a {
	text-decoration: none;
	color: #333;
}

.buzzfeed a:hover {
	color: #555;
	text-decoration: underline;
}

.cnn {
	border-color: #CA0002;
}

.cnn .tttitle {
	background-color: #CA0002;
	background-image: url('../images/cnn.png')
}

.cnn .smallFoot {
	background-color: #CA0002;
}

.cnn .smallFoot span {
	color: white;
}

.cnn .cnn_bulletbin {
	padding: 0;
	margin: 0;
}

.cnn .cnn_bulletbin li {
	color: rgb(90, 82, 77);
	font-family: arial;
	margin: 0.5em 0;
	font-weight: bold;
}

.cnn .cnn_bulletbin a {
	text-decoration: none;
	color: rgb(90, 82, 77);
	font-family: arial;
	font-weight: bold;
}

.cnn .cnn_bulletbin a:hover {
	color: darkblue;
	text-decoration: underline;
}

.huffpo .tttitle {
	background-image: url('../images/huffingtonpost.gif');
	background-color: white;
}

.huffpo .smallContainer h5 div {
	display: none;
}

.huffpo h5,
.huffpo h4, 
.huffpo h3,
.huffpo h2,
.huffpo h1,
.huffpo .smallContainer #splash_block {
	display: block;
	margin: 0.5em 0;
	color: rgb(26, 26, 26);
	font-family: arial;
	width: 100% !important;

}

.huffpo .smallContainer * {
	font-size: 1em !important;
	color: rgb(26, 26, 26);
	text-decoration: none;
}

.espn .tttitle {
	background-color: #7F0200;
	background-size: 80px, 20px;
	background-position-y: 0.3em;
	background-image: url('../images/espn.png')
}

.espn {
	border-color: #7F0200;
}

.espn .smallFoot {
	background-color: #7F0200;
}

.espn .smallFoot span {
	color: white;
}

.espn .headlines {
	margin: 0;
	padding: 1em 2em;
	width: 85%;
}

.espn .smallContainer a {
	font-family: verdana, helvetica, arial, sans-serif;
	margin: 0;
	color: #222;
	text-decoration: none;
}

.espn .smallContainer a:hover {
	text-decoration: underline;
	color: darkblue;
}

.nytimes .tttitle {
	background-color: white;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	background-position-x: 2em;
	background-image: url('../images/nytimes.png')
}

.nytimes .smallContainer h2,
.nytimes .smallContainer h1,
.nytimes .smallContainer h3
 {
	margin: 0.5em 0 0.8em 0;
	font-size: 1.1em;
	font-family: nyt-cheltenham, georgia, 'times new roman', times, serif;
	font-style: italic;
	font-weight: bold;
}

.nytimes .smallContainer a {
	text-decoration: none;
	color: black;
}

.nytimes .smallContainer a:hover {
	text-decoration: underline;
}

.nytimes .smallContainer span {
	display: none;
}
.blazersEdge .smallContainer .article span,
.blazersEdge .smallContainer .article div p,
.blazersEdge .smallContainer .article div div,
.blazersEdge .smallContainer .m-block__image,
.blazersEdge .smallContainer .m-hero-block .article,
.half,
.quarter {
	display: none;
}

.blazersEdge .tttitle {
	background-image: url('../images/bedge.png');

}

.blazersEdge .smallContainer .article div p {
	display: none;
}

.blazersEdge .smallContainer .post div header {
	font-size: 0.8em; 
	display: block;
	font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
	color: rgb(41,41,41);
}

.blazersEdge .smallContainer div h2 {
	margin: 0.5em 0;
}

.blazersEdge .smallContainer div a {
	color: black;
	text-decoration: none;
}

.blazersEdge .smallContainer div a:hover {
	color: black;
	text-decoration: underline;
}

.fiveThirtyEight .tttitle {
	background-position-y: .3em;
	background-image: url
}

.fiveThirtyEight .tttitle:hover {
	cursor: pointer;
}

.fiveThirtyEight .smallContainer h2, .fiveThirtyEight .smallContainer h3 {
	margin: 0.5em 0;
	font-size: 1em;
	color: black;
	text-decoration: none;
	font-family: ArnhemPro, Georgia, 'Times New Roman', 
}

.fiveThirtyEight .smallContainer a {
	color: black;
	text-decoration: none;
}

.fiveThirtyEight .smallContainer a:hover {
	text-decoration: underline;
}

.theAtlantic .tttitle {
	font-style: italic;
}

.theAtlantic .smallContainer dd {
	margin: 0.5em 0.8em;
	font-family: 'times new roman', times, serif;
	font-weight: bold;
	font-size: 1.1em;
}

.theAtlantic .smallContainer dd a {
	text-decoration: none;
	color: black;
}

.theAtlantic .smallContainer dd a:hover {
	text-decoration: underline;
}

.oLive .smallContainer a {
	font-family: prelo-slab, Tahoma, Geneva, sans-serif;
	color: rgb(54, 54, 54);
	font-weight: bold;
	display: block;
	text-decoration: none;
	font-size: 1em;
	margin-bottom: .7em;
}

.oLive a:hover {
	text-decoration: underline
}

.qz {
	border-color: black;
	color: rgb(76, 76, 76);
}

.qz .tttitle {
	background-color: black;
	background-image: url('../images/quartz.png');
	background-size: 9em;
}

.qz .tttitle a {
	color: white;
	font-family: AdelleBold, sans-serif;
	font-size: 1.1em;
	letter-spacing: .1em;
}

.qz .note-summary {
	margin-bottom: 0.5em
}

.qz h2 {
	color: rgb(51, 51, 51);
	font-family: AdelleBold,Helvetica,sans-serif;
	font-weight: 700;
	margin: 0em;
	font-size: 1em;
}

.qz a {
	color: rgb(22, 141, 217);
	text-decoration: none;
}

.qz a:hover {
	text-decoration: underline;
}

.reddit {
	border-color: #CEE3F8;
}

.reddit .tttitle {
	background-color: #CEE3F8
}

.reddit .smallFoot {
	background-color: #CEE3F8
}

.reddit .redditChunk {
	margin-bottom: .5em;
}

.reddit .redditChunk > * {
	margin-right: .5em;
}

.reddit .domain * {
	color: rgb(136, 136, 136);
	font-size: 0.7em;
}

.reddit .subreddit {
	color: rgb(51, 102, 153);
	font-size: 0.7em;
}

.reddit .comments {
	color: rgb(136, 136, 136);
	font-size: 0.7em;
}

.reddit .title {
	display: inherit;
	text-decoration: none;
	color: #551a8b;
	font-family: verdana, arial, helvetica, sans-serif;
}

.twitter {
	border-color: #55ACEE;
	font-family: Arial, sans-serif;
}

.twitter .tttitle  {
	background-image: url('../images/twitter.png');
	background-color: white;
	background-color: #55ACEE;
	background-position-y: center;
	background-size: 1.7em;
}

.twitter s {
	text-decoration: none;
	margin-left: 0.3em;
}

.twitter .smallContainer .tweet-text a,
.twitter .twitter-atreply s,
.twitter .twitter-atreply b {
	color: rgb(0, 132, 180);
	text-decoration: none;
}

.twitter .smallContainer .tweet-text-outer {
	text-decoration: none;
	color: #333;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.twitter .invisible {
	display: none;
}

.twitter .stream-item-header a {
	text-decoration: none;
}

.twitter a:hover {
	text-decoration: underline;
}

.twitter .smallFoot {
	background-color: #55ACEE;
}

.twitter .fullname {
	font-weight: bold;
	color: #292f33;
}

.twitter .js-retweet-text,
.twitter .pretty-link b {
	color: #8899a6;
	font-size: 0.9em;
}

.twitter .js-retweet-text a {
	text-decoration: none;
}

.tweet {
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;	
	border-bottom: 1px solid rgb(225, 232, 237);
}

.tweet .avatar,
.tweet .cards-media-container,
.tweet .expanded-content,
.tweet .tweet-details-fixer,
.tweet .bottom-tweet-actions,
.tweet .stream-item-footer,
.tweet .u-hiddenVisually,
.tweet .js-disclosure,
.tweet .js-action-profile-promoted {
	display: none;
}

.tweet .tweet-text {
	margin: 0;
}

.twitter .username,
.twitter ._timestamp {
	color: rgb(136, 153, 166)
}

.reddit .smallFoot {
	background-color: #55ACEE;
}



.oLive {
	border-color: #EBE0D2
}

.oLive .tttitle, .oLive .smallFoot	 {
	background-color: #EBE0D2
}



.hackerNews {
	border-color: #FF6600;
	background-color: #F6F6EF;
	text-decoration: none;
	color: black;
}

.hackerNews .tttitle {
	background-image: url('../images/hacker-news.jpg'); 
}

.hackerNews a {
	text-decoration: none;
	color: black;
}

.hackerNews .hComLink {
	color: #828282;
	font-size: .8em;
}

.hackerNews a:hover {
	text-decoration: underline;
}

.hackerNews .tttitle, .hackerNews .smallFoot {
		background-color: #FF6600;
}

.hackerNews .title {
	font-family: Verdana, Geneva, sans-serif;
}


.hackerNews .smallContainer {
	font-size: .9em;
	padding: 0px;
	background-color: #F6F6EF;

}

.hackerNews .comhead {
	color: #828282
}